html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

.body {
    max-width: 1440px;
}

.container {
    padding: 65px 100px;
}

header {
    background-color:rgba(241, 253, 255, 1);
    background-image: url("../assets-project/img/medium-shot-woman-holding-ukranian-flag.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    margin-bottom: 80px;
}

main {
    background-color: #fff;
}

footer {
    margin-top: 80px;
    padding: 57px 100px 141px;
    background-color: #F9FADF;
    border-radius: 11px;
}

b {
    font-weight: bold;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin-bottom: 75px;
    padding-left: 0;
}

.nav-item:not(:last-child){
    margin-right: 56px;
}

.nav-item a{
    font-size: 18px;
    line-height: 96.9%;
    color: #000;
}

.nav-item_first {
    margin-left: auto;
}

.nav-btn {
    background: #7AE5FD;
    border-radius: 87px;
    padding: 21px 28px;
    text-transform: uppercase;
}

.header-title {
    font-size: 93px;
    font-weight: 800;
    line-height: 96.9%;;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #9AD2DE;
    margin-bottom: 75px;
}

.header-description {
    margin-bottom: 75px;
    font-size: 20px;
}

/* .program-header {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.program-title {
        font-weight: 400;
        font-size: 60px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
}

.program-description {
    font-size: 27px;
    text-align: center;
    margin: 0 0 10px 0;
}

.program-text {
    font-size: 20px;
    text-align: center;
    color: #73A6B1;
    margin: 0;
}

section {
    margin-bottom: 65px;
}

.program {
    margin-bottom: 43px;
}

.program-scene {
    background-color: #F1FDFF;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.program-scene-item:not(:last-child){
    margin: 0 0 35px 0;
}

.program-scene-title {
    font-weight: 400;
    font-size: 46px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.program-scene-description {
    font-size: 20px;
}

.program-scene-list {
    margin: 45px 0 0 0;
    padding: 0;
}

.program-scene-event {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.program-scene-time {
    font-size: 16px;
    color: #3D8C9D;
}

.program-button {
    text-align: center;
    padding: 21px 0;
}

.program-button a {
    padding: 21px 35px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 87px;
    background: #7AE5FD;
}

.promotion {
    background-image: url("/assets-project/img/Фон.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 68px;
}

.promotion-container {
    height: 738px;
    background-image: url("/assets-project/img/Фон.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.promotion-description {
    padding: 89px 40px;
    background-color: rgba(242, 254, 255, 1);
    font-size: 27px;
    /* width: 100%; */
}

.promotion-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10%;
    width: 430px;
    height: 440px;
}

/* .counter {
    /* margin-bottom: 141px; */
/* } */

.counter-title {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
}

.counter-description {
    font-size: 20px;
    text-align: center;
    color: #73A6B1;
    margin: 0;
    margin-bottom: 77px;
}

.counter-text {
    font-size: 27px;
    text-align: center;
    margin-bottom: 17px;
}

.counter-list {
    display: flex;
    justify-content: center;
    /* position: relative; */
    margin-bottom: 57px;
}

.counter-item {
    position: relative;
    font-size: 60px;
    /* border-right: 1px solid #9AD2DE; */
    padding: 0 13px;
}

.counter-item-line::after {
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 62px;
    background-color: #9AD2DE;
    right: 0;
    top: 0;
    opacity: 1;
}

.counter-button {
    text-align: center;
    padding: 21px 0;
}

.counter-button a {
    padding: 21px 35px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 87px;
    background: #7AE5FD;
}

.contacts {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.contacts-title {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 0;
}

.contacts-list {
    padding: 0;
    width: 50%;
    text-align: left;
}

.contacts-text {
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
}

.contacts-img {
    margin-bottom: 10px;
}

.contacts-item:not(:last-child) {
    margin-bottom: 57px;
}

.subscription {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 54px 97px 54px 39px;
}

.subscription-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscription-img {
    margin-right: 89px;
}

.subscription-text {
    font-size: 27px;
    margin-bottom: 39px;
}

.subscription-input {
    background-color: #F9FADF;
    border-radius: 61px;
    padding: 21px 43px;
    margin-bottom: 31px;
    box-sizing: border-box;
    font-size: 20px;
    border-style: none;
}

.subscription-button {
    padding: 22px;
    background: #7AE5FD;
    border-radius: 61px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: uppercase;
    border-style: none;
    cursor: pointer;
}